<!--<div *ngIf="selectedItem() as selectedItem">
  <div class="w-full md:w-8/12 py-1">
    <div class="image-container">
      <ng-container [ngSwitch]="determineFileType(selectedItem.url)">
        <div *ngSwitchCase="'video'" class="video-preview-container">
          <img [src]="previewUrl()" alt="Video Preview" class="image" *ngIf="!videoStarted()">
          <div class="play-button-overlay" *ngIf="!videoStarted()" (click)="playVideo()">
            <fa-icon [icon]="faPlay" size="1x" class="play-icon"></fa-icon>
          </div>
          <video #videoPlayer [src]="safeUrl()" controls class="media" *ngIf="videoStarted()"></video>
        </div>

        <div *ngSwitchCase="'audio'" class="audio-container">
          <audio id="myaudio" controls *ngIf="audioPlaying()">
            <source [src]="safeUrl()" type="audio/mpeg">
          </audio>
          <img [src]="previewUrl()" alt="Audio Preview" class="image">
        </div>
        <ng-container *ngSwitchCase="'pdf'">
          <iframe *ngIf="!isMobile" type="pdf" typeof="pdf" [src]="safeUrl()" class="pdf"></iframe>
          <app-pdf-placeholder *ngIf="isMobile" [pdfUrl]="pdfUrl()!" [previewUrl]="pdfPreviewUrl()!"></app-pdf-placeholder>
        </ng-container>
        <div *ngSwitchCase="'image'" class="relative">
          <img #imageElement [src]="safeUrl()" [alt]="selectedItem.alt || 'Content'" class="image" (dblclick)="toggleFullScreen()">
          <div class="blinking block">
            <a [href]="safeUrl()" download class="download-icon">
              <fa-icon [icon]="faDownload"></fa-icon>
            </a>
          </div>
        </div>
        <p *ngSwitchDefault>Unsupported file type</p>
      </ng-container>
    </div>
    <div class="item-info">
      <div class="left-info">
        <p class="reddit-mono-400">{{ parentCatalog()?.id }}</p>
      </div>
      <div class="middle-info">
        <p class="reddit-mono-400">{{ selectedItem?.description }}</p>
      </div>
      <div class="right-info">
        <p class="reddit-mono-400">{{ (selectedItemIndex() ?? 0) + 1 }}/{{ parentCatalog()?.items!.length }}</p>
      </div>
    </div>
  </div>
</div>-->
<app-variable-content ></app-variable-content>
