<div *ngIf="selectedItem$ | async as selectedItem">
  <div class="w-full md:w-8/12 py-1">
    <div class="image-container">
      <ng-container [ngSwitch]="determineFileType(selectedItem.url)">
        <video *ngSwitchCase="'video'" [src]="safeUrl" controls class="media"></video>
        <div *ngSwitchCase="'audio'" class="audio-container">
          <audio id="myaudio" controls *ngIf="audioPlaying">
            <source [src]="safeUrl" type="audio/mpeg">
          </audio>
          <img [src]="previewUrl" alt="Audio Preview" class="image">
        </div>
        <ng-container *ngSwitchCase="'pdf'">
          <iframe *ngIf="!isMobile" type="pdf" typeof="pdf" [src]="safeUrl" class="pdf"></iframe>
          <app-pdf-placeholder *ngIf="isMobile" [pdfUrl]="pdfUrl!" [previewUrl]="pdfPreviewUrl!"></app-pdf-placeholder>
        </ng-container>
        <div *ngSwitchCase="'image'" class="relative">
          <img [src]="safeUrl" [alt]="selectedItem.alt || 'Content'" class="image">
          <div class="blinking block">
            <a [href]="safeUrl" download class="download-icon">
              <fa-icon [icon]="faDownload"></fa-icon>
            </a>
          </div>
        </div>
        <p *ngSwitchDefault>Unsupported file type</p>
      </ng-container>
    </div>
    <!--
        EVENTUALI INFORMAZIONI AGGIUNTIVE SULL'ITEM SELEZIONATO
    -->
    <div class="item-info">
      <div class="left-info">
        <p class="reddit-mono-400">{{ (parentCatalog$ | async)?.id }}</p>
      </div>
      <div class="middle-info">
        <p class="reddit-mono-400">{{ (selectedItem$ | async)?.description }} </p>
      </div>
      <div class="right-info">
        <p class="reddit-mono-400">{{ ((selectedItemIndex$ | async) ?? 0) + 1 }}/{{ (parentCatalog$ | async)?.items!.length }}</p>
      </div>
      <!--<div class="w-full max-w-md">
        <p>Full branding for {{ (parentCatalog$ | async)?.name }}: a description here. <br>In collaboration with partners.</p>
      </div>-->
    </div>
  </div>
</div>
<app-variable-content *ngIf="!(selectedItem$ | async)"></app-variable-content>
