.image-container {
  position: relative;
  height: auto;
  max-height: 400px;
  overflow: hidden;
}
.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}
.item-info {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 0.9rem;
}
.item-info > div {
  padding: 0.5rem;
}
.left-info {
  width: 58.3333%;
}
.middle-info {
  width: 16.6667%;
}
.right-info {
  width: 25%;
  text-align: right;
}
