.mina-font {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Media query per schermi sotto i 764px */
@media (max-width: 764px) {
  .mina-font {
    font-size: 1.5rem; /* Font size diventa 1.5rem sui dispositivi mobili */
  }
}
