<div class="uppercase flex w-full">
  <div class="flex items-center w-full">

    <a href="/" class="">
      <img [src]="logoUrl" [alt]="altText" class="h-56 w-[20rem]">
    </a>

    <div class="w-full">
      <div class="text-center w-full ">
      <span class="text-3xl md:text-3xl  bungee-shade-regular">NESSUNA SPIEGAZIONE NESSUN RIMPIANTO</span>
      </div>
      <div class="text-center w-full py-6">
        <span class="text-3xl md:text-3xl bungee-shade-regular block">TUTTO RIFIUTO</span>
      </div>
    </div>

  </div>
</div>
