<div class="border-b border-solid border-low-opacity">
  <button class="hover:opacity-80 flex flex-wrap w-full text text-left py-1 mb-0 items-center" (click)="handleToggle()">
    <div class="w-3/12 reddit-mono-400">{{ item.id }}</div>
    <div class="w-6/12 md:w-3/12 reddit-mono-400">{{ item.name }}</div>
    <div class="hidden md:block w-3/12 reddit-mono-400">{{ item.category }}</div>
    <div class="w-3/12 text-right reddit-mono-400">{{ item.year }}</div>
  </button>
  <ng-container *ngIf="isExpanded$ | async as isExpanded">
    <div [class.collapsed]="!isExpanded" [class.expanded]="isExpanded" class="flex-wrapper mt-2 mb-2">
      <ng-container *ngIf="isLoading$(); else content">
        <div class="loading-spinner">Loading...</div>
      </ng-container>
      <ng-template #content>
        <button class="button-link mb-2.5" *ngFor="let _item of item.items" (click)="handleItemClick(_item.id)">
          <app-item-preview [previewUrl]="getPreviewImageUrl(_item.previewUrl) || _item.previewUrl" [itemId]="_item.id" [catalogId]="item.id" class="mb-2 pb-2.5"
                            (itemClick)="handleItemClick($event)"
          ></app-item-preview>
        </button>
      </ng-template>
    </div>
  </ng-container>
</div>
