<div class="mb-24 md:mb-4 w-full md:w-6/12 py-1">
  <header class="flex flex-wrap md:fixed md:w-2/4 ">
    <div class="w-6/12 uppercase pr-8">
      <div class="max-w-sm">
        <section class="spacing-link">
          <p class="text-xs mb-0 reddit-mono-400">
            <a class="reddit-mono-400 fontSizeComunicationLink" #highlightText  href="https://www.instagram.com/tutto_rifiuto/" target="_blank" rel="noopener noreferrer">instagram</a>
          </p>
          <p  class="text-s mb-0 py-2 reddit-mono-400">
            <a class="reddit-mono-400 fontSizeComunicationLink" #highlightText href="mailto:tuttorifiuto@gmail.com" target="_blank" rel="noopener noreferrer">email</a>
          </p>
          <p  class="text-s mb-0 py-2 reddit-mono-400">
            <a class="reddit-mono-400 fontSizeComunicationLink" #highlightText href="https://t.me/tuttorifiuto" target="_blank" rel="noopener noreferrer">telegram</a>
          </p>
          <p  class="text-s mb-0 py-2 reddit-mono-400">
            <a class="reddit-mono-400 fontSizeComunicationLink" #highlightText href="https://www.youtube.com/channel/UCM6DArrxq_sp8R5tOSDYDSQ" target="_blank" rel="noopener noreferrer">youtube</a>
          </p>
          <p  class="text-s mb-0 py-2 reddit-mono-400">
            <a class="reddit-mono-400 fontSizeComunicationLink" #highlightText href="https://soundcloud.com/tuttorifiuto" target="_blank" rel="noopener noreferrer">soundcloud</a>
          </p>
          <p  class="text-s mb-0 py-2 reddit-mono-400">
            <a class="reddit-mono-700 fontSizeComunicationLink" #highlightText href="https://github.com/gabrielebaglioni/tuttorifiutoo" target="_blank" rel="noopener noreferrer">GITHUB</a>
          </p>

        </section>
      </div>
    </div>
    <div class="w-6/12">

      <section class="">
        <p  class=" mb-0 py-1 reddit-mono-400">
          <a class="fontPKLink reddit-mono-400" #highlightText href="https://drive.google.com/drive/folders/1W8LdhbgG58TWRzmhI8jIBJRletQCG9Xo?usp=sharing" target="_blank" rel="noopener noreferrer">Pacchetto#1</a>
        </p>
        <p  class=" mb-0 py-1 reddit-mono-400">
          <a class="fontPKLink reddit-mono-400" #highlightText href="https://drive.google.com/drive/folders/1Bcp4yrRCCvAbOEfxsjNd_Vs8Lo7DK5VO?usp=sharing" target="_blank" rel="noopener noreferrer">Pacchetto#2</a>
        </p>
      </section>
    </div>
  </header>
</div>
