<div class="mb-24 md:mb-4 w-full md:w-6/12 py-1">
  <header class="flex flex-wrap md:fixed md:w-2/4 ">
    <div class="w-6/12 uppercase pr-8">
      <div class="max-w-sm">
        <section>
          <!--<p class="text-sm font-bold">Services</p>
          <p class="text-xs">Brand Strategy</p>
          <p class="text-xs">Brand Launch</p>
          <p class="text-xs">Campaigns</p>
          <p class="text-xs">Visual Identity</p>
          <p class="text-xs">Verbal Identity</p>
          <p class="text-xs">Websites</p>
          <p class="text-xs">Packaging</p>-->
          <p class="text-xs mb-0 reddit-mono-400">
            <a class="reddit-mono-400" #highlightText  href="https://www.instagram.com/tutto_rifiuto/" target="_blank" rel="noopener noreferrer">instagram</a>
          </p>
          <p  class="text-s mb-0 py-1 reddit-mono-400">
            <a class="reddit-mono-400" #highlightText href="mailto:tuttorifiuto@gmail.com" target="_blank" rel="noopener noreferrer">email</a>
          </p>
          <p  class="text-s mb-0 py-1 reddit-mono-400">
            <a class="reddit-mono-400" #highlightText href="https://t.me/tuttorifiuto" target="_blank" rel="noopener noreferrer">telegram</a>
          </p>
          <p  class="text-s mb-0 py-1 reddit-mono-400">
            <a class="reddit-mono-400" #highlightText href="https://www.youtube.com/channel/UCM6DArrxq_sp8R5tOSDYDSQ" target="_blank" rel="noopener noreferrer">youtube</a>
          </p>
          <p  class="text-s mb-0 py-1 reddit-mono-400">
            <a class="reddit-mono-400" #highlightText href="https://soundcloud.com/tuttorifiuto" target="_blank" rel="noopener noreferrer">soundcloud</a>
          </p>
          <p  class="text-s mb-0 py-1 reddit-mono-400">
            <a class="reddit-mono-400" #highlightText href="https://github.com/gabrielebaglioni/tuttorifiutoo" target="_blank" rel="noopener noreferrer">GITHUB</a>
          </p>
        </section>
      </div>
    </div>
    <div class="w-6/12">

      <section class="">

      </section>
    </div>
  </header>
</div>
