<div class="mb-24 md:mb-4 w-full md:w-6/12 py-1">
  <header class="flex flex-wrap md:fixed md:w-2/4">
    <div class="w-6/12 uppercase pr-8">
      <div class="max-w-sm">
        <section>
          <p class="text-sm font-bold">Services</p>
          <p class="text-xs">Brand Strategy</p>
          <p class="text-xs">Brand Launch</p>
          <p class="text-xs">Campaigns</p>
          <p class="text-xs">Visual Identity</p>
          <p class="text-xs">Verbal Identity</p>
          <p class="text-xs">Websites</p>
          <p class="text-xs">Packaging</p>
        </section>
      </div>
    </div>
    <div class="w-6/12">
      <section class="mb-4">
        <div class="inline-flex items-center justify-between w-full">
          <p class="text-sm">CREATIVE COMPANY FOR BRANDS THAT WANT TO BE SOMEBODY</p>
        </div>
      </section>
      <section>
        <p class="text-xs mb-0">
          <a href="https://instagram.com/newkid.services" target="_blank" rel="noopener noreferrer">instagram</a>
        </p>
        <p class="text-xs mb-0">
          <a href="mailto:tuttorifiuto@gmail.com" target="_blank" rel="noopener noreferrer">TUTTORIFIUTO.COM</a>
        </p>
      </section>
    </div>
  </header>
</div>
