<!--<div class="row m-0 d-flex align-items-center" [ngClass]="{'foot' : !isMobile, 'foot-mobile' : isMobile}">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="logo ps-3">
      <img style="width: 100%;" src="../../../../assets/images/logo_digital_engineering.png" alt="logo">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end">
    <small class="copyright pe-3 muli-font">© Copyright 2023 - <strong>Digital Engineering Srl</strong> "Next Software Generation" P.IVA 01759800665</small>
  </div>
</div>-->

<!-- <mat-toolbar color="primary" class="rounded-bottom-2 d-flex" style="position: fixed;bottom:0;height: 50px;">
  <div class="my-auto me-auto h-100">
    <img src="../../../../assets/logo-header-r23.svg" class="w-100 h-100" />
  </div>
</mat-toolbar> -->