<div class="flex flex-wrap justify-between minimo-h">
  <div class="mb-24 md:mb-4 w-full md:w-7/12 py-6"> <!-- 60% della larghezza -->
    <app-logo [logoUrl]="'assets/Logo1Xsito.png'" [altText]="'tutto rifiuto'"></app-logo>
    <div class="image-display">
      <app-selected-image-display></app-selected-image-display>
    </div>
  </div>
  <div class="w-full md:w-5/12 flex justify-end items-center h-full"> <!-- 40% della larghezza -->
    <img loading="lazy" src="assets/banner/FUEGO.png" class=" h-full object-contain max-h-screen">
  </div>
</div>


<!--    <section class="flex flex-wrap relative md:fixed w-full md:w-2/4 pl-6 md:pl-0 pr-6 py-6 z-10 justify-between pb-2" (click)="onClickedInside()">
      <div><p class="uppercase mb-0 reddit-mono-400">Catalog</p></div>
      <button class="expand-all-btn reddit-mono-400" (click)="toggleAllExpand(); onClickedInside()">
        {{ expandAllText$ | async }}
      </button>
    </section>
    <section class="flex flex-wrap flex-col pt-0 md:pt-14 md:top-0 md:right-0 pl-6 md:pl-0 pr-6 pb-8" (click)="onClickedInside()">
      <div class="w-full block"></div>
      <div class="w-full self-start overflow-hidden">
        <ng-container *ngFor="let item of catalogItems()">
          <div class="catalog-item" (click)="onClickedInside()">
            <app-catalog-item [item]="item"></app-catalog-item>
          </div>
        </ng-container>
      </div>
    </section>-->
